.title {
  padding-top: 50px;
  color: #FF7886;
  font-weight: bold;
}

.sub-title {
  padding-top: 20px;
  color: #FF7886;
}

.section {
  padding-bottom: 75px;
}

.para-hint {
  font-weight: bold;
}

.inner-p {
  padding-left: 40px;
}

.table-img-holder {
  width: 25%;
}

.table-img {
  width: 50%;
  float: center;
}
