.fa {
  text-decoration: none !important;
}

.intro-details .fa {
  margin: 20px 10px;
  font-size: 2.3rem;
  color: #EB3158;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.intro-details .fa:hover {
  color: white;
}
