@import url('https://fonts.googleapis.com/css?family=Saira');

body {
  margin: 0;
  height: 100%;
  background: #141A1C;
  background-image: url("../images/vectors.png");
  background-repeat: repeat;
  background-size: 250px;
  color: white;
  font-family: 'Saira';
}

.top-left-bg {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bottom-right-bg {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.intro-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 0;
  right: 0;
  width: 100%;
}

.intro-wrapper .row {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.red-text {
  color: #EB3158;
  font-weight: bold;
}

.scroll-hint {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.section-title {
  padding-top: 40px;
}

section {
  min-height: 100vh;
  margin-bottom: 30px;
}

.card {
  margin: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.card .btn {
  background: #EB3158;
  border: 1px solid #EB3158;
  transition: all 0.4s;
}

.card .btn:hover {
  margin-left: 10px;
}
