@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0;
  height: 100%;
  background: #141A1C;
  background-image: url("../images/vectors.png");
  background-repeat: repeat;
  background-size: 250px;
  color: white;
  font-family: 'Roboto', monospace;
}

.top-left-bg {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#name {
  display: none;
}

.bottom-right-bg {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.intro-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 0;
  right: 0;
  width: 100%;
}

.intro-wrapper .row {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.red-text {
  color: #EB3158;
  font-weight: bold;
}

.scroll-hint {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.header {
  margin-top: 50px;
}

.details {
  height: 100vh;
}

.details h4 {
  margin: 10px 20px;
}

.red {
  color: #F80053;
}

.skills {
  margin: 5px 20px;
  border-spacing: 10px;
  border-collapse: separate;
  color: rgba(255, 255, 255, 0.6);
}

.side-img {
  background: url("../images/atgoogle.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
