
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 75px;
  font-size: 1.5rem;
}

.nav-link {
  color: white;
  margin: 0 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
}
